<?xml version ="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="moving_obstacle">


  <link name="base_link">

  </link>
    <joint name="body" type="fixed">
      <parent link="base_link" />
      <child link="body_link" />
      <origin xyz="0 0 0." rpy="0 0 0" />
    </joint>
    
    <link name="body_link">
     <inertial>
      <mass value="50" />
      <origin xyz="0 0 0" />
      <inertia ixx="10" iyy="10" izz="10" ixy="0" ixz="0" iyz="0" />
    </inertial>
    <visual>
      <geometry><box size="0.4 0.4 1.0" /></geometry>
      <material><color rgba="0.8 0 0 1" /></material>
    </visual>

    <collision>
      <geometry><box size="0.4 0.4 1.0" /></geometry>
    </collision>
  </link>

  <gazebo>
    <plugin name="object_controller" filename="libgazebo_ros_planar_move.so">
      <commandTopic>cmd_vel</commandTopic>
      <odometryTopic>odom</odometryTopic>
      <odometryFrame>fake_person_odom</odometryFrame>
      <odometryRate>20.0</odometryRate>
      <robotBaseFrame>base_link</robotBaseFrame>
    </plugin>
  </gazebo>

</robot>
